$baseColor:#157fcc;
$fontSize:16px;
$fontFamily:Arial;
$panelHeaderColor:#F6F6F6;
$panelHeaderBorderColor:#F6F6F6;
$formFontLableColor:#000000;
$formTextFieldFontSize:16px;
$formLabelFontWeight:normal;
$buttonDefaultBaseColor:#157fcc;
$buttonDefaultBorderColor:#157fcc;
$buttonLargeBorderRadius:2;